.bigDigit {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%) translateY(-4%);
  font-size: 16rem;
  opacity: 0.5;
  padding: 1rem;
  color: var(--orange);
  user-select: none;
  display: flex;
  justify-content: space-around;
text-align: center;
  flex-direction: column;
 

}

@media screen and (min-width: 1024px) {
  .bigDigit {
    height: fit-content;
    justify-content: center;
    flex-direction: row;
    gap: 4rem;
  }
}

@media screen and (min-width: 1920px) {
  .bigDigit {
    font-size: 18rem;
  }
}

@media screen and (min-width: 2560px) {
  .bigDigit {
    font-size: 28rem;
   
  }
}

@media screen and (max-height:700px) {
  .bigDigit{
    height: 100dvh;
    font-size: clamp(8rem, 12vh, 16rem);
  }
}