@media screen and (min-width: 480px) {
  :root {
    font-size: 15px;
  }
 
 
}

@media screen and (min-width: 768px) {
  :root {
    font-size: 16px;
  }
  
}

@media screen and (min-width: 1024px) {
  :root {
    font-size: 17px;
  }
  
}

@media screen and (min-width: 1440px) {
  :root {
    font-size: 18px;
  }
 
}

@media screen and (min-width: 1920px) {
  :root {
    font-size: 19px;
  }
 
}
